body {
	background: url(img/book.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

.head {
	

}



.book {
	text-align: center;
}



.footer {
	/*height: 15vh;*/
	
  	display: flex;
   background: rgb(235, 235, 235);
    /*position: relative;/*Or relative if height is more than height of page*/
    height: 20vh;
    /*width: 100vw;*/
    /*left: 0px;*/
    /*bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;*/
    justify-content: center;
    align-items: center;
    /*margin-bottom: 0;*/
    position: relative;
}

@media only screen and (max-width: 768px) {
  body {
  	background: url(img/book.jpg) -200px, 0px;
  	overflow-x: hidden;
  	margin: 0;
  	padding: 0;


  }

  .head {
  	height: 20vh;

  	
  }

  main {
  	height: auto;
  	
  }

 



  .section {
  	width: 100%;
  	float: none;
  	text-shadow: 1px 1px #bef3f7;
  	font-weight: bold;
  	height: auto;
  	text-align: center;


  }

  .section2 {
  	width: 100%;
  	float: none;
  	text-shadow: 1px 1px #bef3f7;
  	font-weight: bold;
  	height: auto;
  	text-align: center;

  }

  .footer {
  	

  display: flex;
   background: rgb(235, 235, 235);
    position: relative;/*Or relative if height is more than height of page*/
    height: 20vh;
    /*width: 100vw;*/
    /*left: 0px;*/
    /*bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;*/
    justify-content: center;
    align-items: center;
    /*margin-bottom: 0;*/
  	
  	
  }
}

@media only screen and (min-width: 768px) {
	main {
	padding: 0 70px 0 70px;
	height: 68vh;
}

	.section {
	width: 40%; 
	text-align: center; 
	float: left
}

.section2 {
	width: 40%; 
	text-align: center; 
	float: right;
}
}